<!DOCTYPE html>
<html lang="en">
</html>
<%- include ("partials/header.ejs") %> <%# inclui o cabeçalho da aplicaçao %> 
<body>
    <%- include ('partials/navbar.ejs'); %> <%# inclui a navbar que contem o logo %> 

 <div class="container">
     <h1>Bem vindo a pagina inicial do Perguntas e Respostas</h1>
     <a href="/perguntar">Faça sua pergunta aqui!</a>
 </div>
</body>
<%- include ('partials/footer.ejs'); %> <%# inclui o rodapé %> 
